body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1296px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:8167px;
}
#u12805 {
  position:absolute;
  left:-312px;
  top:7px;
  width:1920px;
  height:8167px;
}
#u12806 {
  position:absolute;
  left:2px;
  top:4076px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
