body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:810px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5728 {
  position:absolute;
  left:299px;
  top:105px;
  width:806px;
  height:810px;
}
#u5729 {
  position:absolute;
  left:2px;
  top:397px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5730 {
  position:absolute;
  left:299px;
  top:938px;
  width:806px;
  height:39px;
}
#u5730_input {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5730_input:disabled {
  color:grayText;
}
#u5731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5731 {
  position:absolute;
  left:299px;
  top:1066px;
  width:287px;
  height:40px;
  font-size:18px;
}
#u5732 {
  position:absolute;
  left:2px;
  top:9px;
  width:283px;
  word-wrap:break-word;
}
#u5733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5733 {
  position:absolute;
  left:608px;
  top:1066px;
  width:109px;
  height:40px;
  font-size:18px;
}
#u5734 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  word-wrap:break-word;
}
#u5735 {
  position:absolute;
  left:299px;
  top:994px;
  width:806px;
  height:39px;
}
#u5735_input {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5735_input:disabled {
  color:grayText;
}
#u5736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:148px;
}
#u5736 {
  position:absolute;
  left:327px;
  top:137px;
  width:748px;
  height:148px;
}
#u5737 {
  position:absolute;
  left:2px;
  top:66px;
  width:744px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5738 {
  position:fixed;
  left:-11px;
  top:0px;
  width:1586px;
  height:64px;
  overflow:hidden;
}
#u5738_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1586px;
  height:64px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5738_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1955px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u5739 {
  position:absolute;
  left:0px;
  top:0px;
  width:1955px;
  height:62px;
}
#u5740 {
  position:absolute;
  left:2px;
  top:23px;
  width:1951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u5741 {
  position:absolute;
  left:101px;
  top:7px;
  width:172px;
  height:50px;
}
#u5742 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5743 {
  position:absolute;
  left:1264px;
  top:14px;
  width:40px;
  height:40px;
}
#u5744 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u5745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5745 {
  position:absolute;
  left:1027px;
  top:16px;
  width:95px;
  height:35px;
}
#u5746 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u5747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5747 {
  position:absolute;
  left:1139px;
  top:16px;
  width:95px;
  height:35px;
  color:#FF0000;
}
#u5748 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
