body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:328px;
}
#u12648 {
  position:absolute;
  left:0px;
  top:-20px;
  width:1250px;
  height:328px;
}
#u12649 {
  position:absolute;
  left:2px;
  top:156px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:1353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12650 {
  position:absolute;
  left:165px;
  top:328px;
  width:990px;
  height:1353px;
}
#u12651 {
  position:absolute;
  left:2px;
  top:668px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
}
#u12652 {
  position:absolute;
  left:556px;
  top:278px;
  width:98px;
  height:17px;
}
#u12653 {
  position:absolute;
  left:2px;
  top:0px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u12654 {
  position:absolute;
  left:579px;
  top:278px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u12655 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:13px;
}
#u12656 {
  position:absolute;
  left:173px;
  top:377px;
  width:917px;
  height:13px;
}
#u12657 {
  position:absolute;
  left:2px;
  top:-2px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12658 {
  position:absolute;
  left:190px;
  top:355px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12659 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:43px;
}
#u12660 {
  position:absolute;
  left:685px;
  top:1605px;
  width:453px;
  height:43px;
}
#u12661 {
  position:absolute;
  left:2px;
  top:14px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u12662 {
  position:absolute;
  left:303px;
  top:355px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u12663 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:9px;
}
#u12664 {
  position:absolute;
  left:185px;
  top:380px;
  width:120px;
  height:9px;
}
#u12665 {
  position:absolute;
  left:2px;
  top:-4px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:7px;
}
#u12666 {
  position:absolute;
  left:286px;
  top:382px;
  width:113px;
  height:7px;
}
#u12667 {
  position:absolute;
  left:2px;
  top:-4px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12668 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u12669 {
  position:absolute;
  left:185px;
  top:415px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#AEAEAE;
}
#u12670 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12671 {
  position:absolute;
  left:266px;
  top:415px;
  width:481px;
  height:19px;
  font-size:16px;
}
#u12672 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u12673 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12674 {
  position:absolute;
  left:869px;
  top:417px;
  width:25px;
  height:16px;
  color:#AEAEAE;
}
#u12675 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u12676 {
  position:absolute;
  left:848px;
  top:419px;
  width:16px;
  height:10px;
}
#u12677 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12679 {
  position:absolute;
  left:929px;
  top:417px;
  width:16px;
  height:16px;
}
#u12680 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12681 {
  position:absolute;
  left:952px;
  top:417px;
  width:72px;
  height:16px;
  color:#AEAEAE;
}
#u12682 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u12683 {
  position:absolute;
  left:1042px;
  top:419px;
  width:16px;
  height:13px;
}
#u12684 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u12685 {
  position:absolute;
  left:185px;
  top:457px;
  width:896px;
  height:1px;
}
#u12686 {
  position:absolute;
  left:2px;
  top:-8px;
  width:892px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12687 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u12688 {
  position:absolute;
  left:185px;
  top:477px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u12689 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12690 {
  position:absolute;
  left:266px;
  top:477px;
  width:481px;
  height:19px;
  font-size:16px;
}
#u12691 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u12692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12693 {
  position:absolute;
  left:869px;
  top:479px;
  width:25px;
  height:16px;
  color:#AEAEAE;
}
#u12694 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u12695 {
  position:absolute;
  left:848px;
  top:481px;
  width:16px;
  height:10px;
}
#u12696 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12697 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12698 {
  position:absolute;
  left:929px;
  top:479px;
  width:16px;
  height:16px;
}
#u12699 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12700 {
  position:absolute;
  left:952px;
  top:479px;
  width:72px;
  height:16px;
  color:#AEAEAE;
}
#u12701 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u12702 {
  position:absolute;
  left:1042px;
  top:481px;
  width:16px;
  height:13px;
}
#u12703 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u12704 {
  position:absolute;
  left:185px;
  top:519px;
  width:896px;
  height:1px;
}
#u12705 {
  position:absolute;
  left:2px;
  top:-8px;
  width:892px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12707 {
  position:absolute;
  left:185px;
  top:538px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u12708 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12709 {
  position:absolute;
  left:266px;
  top:538px;
  width:481px;
  height:19px;
  font-size:16px;
}
#u12710 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u12711 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12712 {
  position:absolute;
  left:869px;
  top:540px;
  width:25px;
  height:16px;
  color:#AEAEAE;
}
#u12713 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u12714 {
  position:absolute;
  left:848px;
  top:542px;
  width:16px;
  height:10px;
}
#u12715 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12716 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12717 {
  position:absolute;
  left:929px;
  top:540px;
  width:16px;
  height:16px;
}
#u12718 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12719 {
  position:absolute;
  left:952px;
  top:540px;
  width:72px;
  height:16px;
  color:#AEAEAE;
}
#u12720 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u12721 {
  position:absolute;
  left:1042px;
  top:542px;
  width:16px;
  height:13px;
}
#u12722 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u12723 {
  position:absolute;
  left:185px;
  top:580px;
  width:896px;
  height:1px;
}
#u12724 {
  position:absolute;
  left:2px;
  top:-8px;
  width:892px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12725 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u12726 {
  position:absolute;
  left:185px;
  top:600px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u12727 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12728 {
  position:absolute;
  left:266px;
  top:600px;
  width:481px;
  height:19px;
  font-size:16px;
}
#u12729 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u12730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12731 {
  position:absolute;
  left:869px;
  top:602px;
  width:25px;
  height:16px;
  color:#AEAEAE;
}
#u12732 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u12733 {
  position:absolute;
  left:848px;
  top:604px;
  width:16px;
  height:10px;
}
#u12734 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12735 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12736 {
  position:absolute;
  left:929px;
  top:602px;
  width:16px;
  height:16px;
}
#u12737 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12738 {
  position:absolute;
  left:952px;
  top:602px;
  width:72px;
  height:16px;
  color:#AEAEAE;
}
#u12739 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u12740 {
  position:absolute;
  left:1042px;
  top:604px;
  width:16px;
  height:13px;
}
#u12741 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u12742 {
  position:absolute;
  left:185px;
  top:642px;
  width:896px;
  height:1px;
}
#u12743 {
  position:absolute;
  left:2px;
  top:-8px;
  width:892px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12744 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u12745 {
  position:absolute;
  left:185px;
  top:664px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u12746 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12747 {
  position:absolute;
  left:266px;
  top:664px;
  width:481px;
  height:19px;
  font-size:16px;
}
#u12748 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u12749 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12750 {
  position:absolute;
  left:869px;
  top:666px;
  width:25px;
  height:16px;
  color:#AEAEAE;
}
#u12751 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u12752 {
  position:absolute;
  left:848px;
  top:668px;
  width:16px;
  height:10px;
}
#u12753 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12754 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12755 {
  position:absolute;
  left:929px;
  top:666px;
  width:16px;
  height:16px;
}
#u12756 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12757 {
  position:absolute;
  left:952px;
  top:666px;
  width:72px;
  height:16px;
  color:#AEAEAE;
}
#u12758 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u12759 {
  position:absolute;
  left:1042px;
  top:668px;
  width:16px;
  height:13px;
}
#u12760 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u12761 {
  position:absolute;
  left:185px;
  top:706px;
  width:896px;
  height:1px;
}
#u12762 {
  position:absolute;
  left:2px;
  top:-8px;
  width:892px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12763 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u12764 {
  position:absolute;
  left:185px;
  top:726px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u12765 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12766 {
  position:absolute;
  left:266px;
  top:726px;
  width:481px;
  height:19px;
  font-size:16px;
}
#u12767 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u12768 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12769 {
  position:absolute;
  left:869px;
  top:728px;
  width:25px;
  height:16px;
  color:#AEAEAE;
}
#u12770 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u12771 {
  position:absolute;
  left:848px;
  top:730px;
  width:16px;
  height:10px;
}
#u12772 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12773 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12774 {
  position:absolute;
  left:929px;
  top:728px;
  width:16px;
  height:16px;
}
#u12775 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12776 {
  position:absolute;
  left:952px;
  top:728px;
  width:72px;
  height:16px;
  color:#AEAEAE;
}
#u12777 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u12778 {
  position:absolute;
  left:1042px;
  top:730px;
  width:16px;
  height:13px;
}
#u12779 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u12780 {
  position:absolute;
  left:185px;
  top:768px;
  width:896px;
  height:1px;
}
#u12781 {
  position:absolute;
  left:2px;
  top:-8px;
  width:892px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12782 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u12783 {
  position:absolute;
  left:185px;
  top:787px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u12784 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12785 {
  position:absolute;
  left:266px;
  top:787px;
  width:481px;
  height:19px;
  font-size:16px;
}
#u12786 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u12787 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12788 {
  position:absolute;
  left:869px;
  top:789px;
  width:25px;
  height:16px;
  color:#AEAEAE;
}
#u12789 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u12790 {
  position:absolute;
  left:848px;
  top:791px;
  width:16px;
  height:10px;
}
#u12791 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12792 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12793 {
  position:absolute;
  left:929px;
  top:789px;
  width:16px;
  height:16px;
}
#u12794 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12795 {
  position:absolute;
  left:952px;
  top:789px;
  width:72px;
  height:16px;
  color:#AEAEAE;
}
#u12796 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u12797 {
  position:absolute;
  left:1042px;
  top:791px;
  width:16px;
  height:13px;
}
#u12798 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u12799 {
  position:absolute;
  left:185px;
  top:829px;
  width:896px;
  height:1px;
}
#u12800 {
  position:absolute;
  left:2px;
  top:-8px;
  width:892px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12802 {
  position:absolute;
  left:185px;
  top:849px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u12803 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12804 {
  position:absolute;
  left:266px;
  top:849px;
  width:481px;
  height:19px;
  font-size:16px;
}
#u12805 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u12806 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12807 {
  position:absolute;
  left:869px;
  top:851px;
  width:25px;
  height:16px;
  color:#AEAEAE;
}
#u12808 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u12809 {
  position:absolute;
  left:848px;
  top:853px;
  width:16px;
  height:10px;
}
#u12810 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12811 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12812 {
  position:absolute;
  left:929px;
  top:851px;
  width:16px;
  height:16px;
}
#u12813 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12814 {
  position:absolute;
  left:952px;
  top:851px;
  width:72px;
  height:16px;
  color:#AEAEAE;
}
#u12815 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u12816 {
  position:absolute;
  left:1042px;
  top:853px;
  width:16px;
  height:13px;
}
#u12817 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u12818 {
  position:absolute;
  left:185px;
  top:891px;
  width:896px;
  height:1px;
}
#u12819 {
  position:absolute;
  left:2px;
  top:-8px;
  width:892px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12820 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12821 {
  position:absolute;
  left:185px;
  top:913px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u12822 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12823 {
  position:absolute;
  left:266px;
  top:913px;
  width:481px;
  height:19px;
  font-size:16px;
}
#u12824 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u12825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12826 {
  position:absolute;
  left:869px;
  top:915px;
  width:25px;
  height:16px;
  color:#AEAEAE;
}
#u12827 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u12828 {
  position:absolute;
  left:848px;
  top:917px;
  width:16px;
  height:10px;
}
#u12829 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12831 {
  position:absolute;
  left:929px;
  top:915px;
  width:16px;
  height:16px;
}
#u12832 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12833 {
  position:absolute;
  left:952px;
  top:915px;
  width:72px;
  height:16px;
  color:#AEAEAE;
}
#u12834 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u12835 {
  position:absolute;
  left:1042px;
  top:917px;
  width:16px;
  height:13px;
}
#u12836 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u12837 {
  position:absolute;
  left:185px;
  top:955px;
  width:896px;
  height:1px;
}
#u12838 {
  position:absolute;
  left:2px;
  top:-8px;
  width:892px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12840 {
  position:absolute;
  left:185px;
  top:977px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u12841 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12842 {
  position:absolute;
  left:266px;
  top:977px;
  width:481px;
  height:19px;
  font-size:16px;
}
#u12843 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u12844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12845 {
  position:absolute;
  left:869px;
  top:979px;
  width:25px;
  height:16px;
  color:#AEAEAE;
}
#u12846 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u12847 {
  position:absolute;
  left:848px;
  top:981px;
  width:16px;
  height:10px;
}
#u12848 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12850 {
  position:absolute;
  left:929px;
  top:979px;
  width:16px;
  height:16px;
}
#u12851 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12852 {
  position:absolute;
  left:952px;
  top:979px;
  width:72px;
  height:16px;
  color:#AEAEAE;
}
#u12853 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u12854 {
  position:absolute;
  left:1042px;
  top:981px;
  width:16px;
  height:13px;
}
#u12855 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u12856 {
  position:absolute;
  left:185px;
  top:1019px;
  width:896px;
  height:1px;
}
#u12857 {
  position:absolute;
  left:2px;
  top:-8px;
  width:892px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12859 {
  position:absolute;
  left:185px;
  top:1039px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u12860 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12861 {
  position:absolute;
  left:266px;
  top:1039px;
  width:481px;
  height:19px;
  font-size:16px;
}
#u12862 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u12863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12864 {
  position:absolute;
  left:869px;
  top:1041px;
  width:25px;
  height:16px;
  color:#AEAEAE;
}
#u12865 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u12866 {
  position:absolute;
  left:848px;
  top:1043px;
  width:16px;
  height:10px;
}
#u12867 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12869 {
  position:absolute;
  left:929px;
  top:1041px;
  width:16px;
  height:16px;
}
#u12870 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12871 {
  position:absolute;
  left:952px;
  top:1041px;
  width:72px;
  height:16px;
  color:#AEAEAE;
}
#u12872 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u12873 {
  position:absolute;
  left:1042px;
  top:1043px;
  width:16px;
  height:13px;
}
#u12874 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u12875 {
  position:absolute;
  left:185px;
  top:1081px;
  width:896px;
  height:1px;
}
#u12876 {
  position:absolute;
  left:2px;
  top:-8px;
  width:892px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12878 {
  position:absolute;
  left:185px;
  top:1100px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u12879 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12880 {
  position:absolute;
  left:266px;
  top:1100px;
  width:481px;
  height:19px;
  font-size:16px;
}
#u12881 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u12882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12883 {
  position:absolute;
  left:869px;
  top:1102px;
  width:25px;
  height:16px;
  color:#AEAEAE;
}
#u12884 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u12885 {
  position:absolute;
  left:848px;
  top:1104px;
  width:16px;
  height:10px;
}
#u12886 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12888 {
  position:absolute;
  left:929px;
  top:1102px;
  width:16px;
  height:16px;
}
#u12889 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12890 {
  position:absolute;
  left:952px;
  top:1102px;
  width:72px;
  height:16px;
  color:#AEAEAE;
}
#u12891 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u12892 {
  position:absolute;
  left:1042px;
  top:1104px;
  width:16px;
  height:13px;
}
#u12893 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u12894 {
  position:absolute;
  left:185px;
  top:1142px;
  width:896px;
  height:1px;
}
#u12895 {
  position:absolute;
  left:2px;
  top:-8px;
  width:892px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12896 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12897 {
  position:absolute;
  left:185px;
  top:1162px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u12898 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12899 {
  position:absolute;
  left:266px;
  top:1162px;
  width:481px;
  height:19px;
  font-size:16px;
}
#u12900 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u12901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12902 {
  position:absolute;
  left:869px;
  top:1164px;
  width:25px;
  height:16px;
  color:#AEAEAE;
}
#u12903 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u12904 {
  position:absolute;
  left:848px;
  top:1166px;
  width:16px;
  height:10px;
}
#u12905 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12907 {
  position:absolute;
  left:929px;
  top:1164px;
  width:16px;
  height:16px;
}
#u12908 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u12909 {
  position:absolute;
  left:952px;
  top:1164px;
  width:72px;
  height:16px;
  color:#AEAEAE;
}
#u12910 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u12911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u12911 {
  position:absolute;
  left:1042px;
  top:1166px;
  width:16px;
  height:13px;
}
#u12912 {
  position:absolute;
  left:2px;
  top:-2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:897px;
  height:2px;
}
#u12913 {
  position:absolute;
  left:185px;
  top:1204px;
  width:896px;
  height:1px;
}
#u12914 {
  position:absolute;
  left:2px;
  top:-8px;
  width:892px;
  visibility:hidden;
  word-wrap:break-word;
}
