body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1906px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:3640px;
}
#u12829 {
  position:absolute;
  left:-7px;
  top:0px;
  width:1920px;
  height:3640px;
}
#u12830 {
  position:absolute;
  left:2px;
  top:1812px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
