body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u12399 {
  position:absolute;
  left:299px;
  top:249px;
  width:806px;
  height:254px;
}
#u12400 {
  position:absolute;
  left:2px;
  top:119px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12401 {
  position:fixed;
  left:-11px;
  top:0px;
  width:1586px;
  height:64px;
  overflow:hidden;
}
#u12401_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1586px;
  height:64px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12401_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1955px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u12402 {
  position:absolute;
  left:0px;
  top:0px;
  width:1955px;
  height:62px;
}
#u12403 {
  position:absolute;
  left:2px;
  top:23px;
  width:1951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u12404 {
  position:absolute;
  left:101px;
  top:7px;
  width:172px;
  height:50px;
}
#u12405 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12406 {
  position:absolute;
  left:1264px;
  top:14px;
  width:40px;
  height:40px;
}
#u12407 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u12408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12408 {
  position:absolute;
  left:1027px;
  top:16px;
  width:95px;
  height:35px;
}
#u12409 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u12410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12410 {
  position:absolute;
  left:1139px;
  top:16px;
  width:95px;
  height:35px;
  color:#FF0000;
}
#u12411 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u12412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12412 {
  position:absolute;
  left:452px;
  top:300px;
  width:217px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12413 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u12414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12414 {
  position:absolute;
  left:452px;
  top:342px;
  width:330px;
  height:16px;
}
#u12415 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  white-space:nowrap;
}
#u12416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12416 {
  position:absolute;
  left:358px;
  top:297px;
  width:60px;
  height:60px;
}
#u12417 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12418 {
  position:absolute;
  left:452px;
  top:395px;
  width:140px;
  height:40px;
}
#u12419 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12420 {
  position:absolute;
  left:632px;
  top:395px;
  width:140px;
  height:40px;
}
#u12421 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
