body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:8593px;
}
#u14755 {
  position:absolute;
  left:0px;
  top:9px;
  width:1920px;
  height:8593px;
}
#u14756 {
  position:absolute;
  left:2px;
  top:4288px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
