body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:5350px;
}
#u1410 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:5350px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:2667px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
