body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:5943px;
}
#u8020 {
  position:absolute;
  left:0px;
  top:-11px;
  width:1920px;
  height:5943px;
}
#u8021 {
  position:absolute;
  left:2px;
  top:2964px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
