body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1046px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:8506px;
}
#u18591 {
  position:absolute;
  left:-437px;
  top:0px;
  width:1920px;
  height:8506px;
}
#u18592 {
  position:absolute;
  left:2px;
  top:4245px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
