body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:7786px;
}
#u18828 {
  position:absolute;
  left:0px;
  top:-8px;
  width:1920px;
  height:7786px;
}
#u18829 {
  position:absolute;
  left:2px;
  top:3885px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
