body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:9488px;
}
#u14579 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:9488px;
}
#u14580 {
  position:absolute;
  left:2px;
  top:4736px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
